<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>변경</title>
</head>
<body>
    <h3>변경</h3>
<form th:action="@{/board/update.do}" method="post">
    <input type="text" th:value="${obj.no}" name="no" readonly style="background-color: #efefef;"/>
    <input type="text" th:value="${obj.title}" name="title"/>
    <input type="text" th:value="${obj.content}" name="content"/>
    <input type="text" th:value="${obj.writer}" name="writer"/>
    <input type="text" th:value="${obj.hit}" readonly style="background-color: #efefef;"/>
    <input type="text" th:value="${obj.regdate}" readonly style="background-color: #efefef;"/>
    <button type="submit">변경하기</button>
</form>
</body>
</html>