<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>글쓰기</title>
</head>
<body>
    <h3>글쓰기</h3>
    <a th:href="@{/board/list.do}" th:text="목록으로"></a>

    <form th:action="@{/board/write.do}" method="post">
        <input type="text" name="title">
        <input type="text" name="content">
        <input type="text" name="writer">
        <input type="submit" name="글쓰기">
    </form>
</body>
</html>